/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 div {
 	margin: 0;
 	padding: 0;
 }
 body{
 	margin: 0; 
 	background-color: #e4e4e4; 
 	overflow: hidden; 
 	width: 100%; 
 	height: 100%;
 	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
 }
 
 .header {
 	/* Provide scrollbars if needed and fix the header dimensions */
 	overflow: auto;
 	position: absolute;
 	background-color: #000;
 	width: 100%;
 	height: 100px;
 	color: #fff;
 	font: 20px Arial, serif;
 	float: center;    
 	z-index: 2;
 	opacity: .8;
 	box-shadow: 0px 5px 10px #888888;


 }
 
 .footer {
 	/* Provide scrollbars if needed and fix the header dimensions */
 	overflow: auto;
 	position: absolute;
 	background-color: #71bf00;
 	width: 100%;
 	height: 50px;
 	color: #fff;
 	font: 20px Arial, serif;
 	float: center;    
 	z-index: 2;
 	opacity: .9;
 	box-shadow: 0px -5px 10px #888888;
 	bottom: 0;


 }
 
 
 .main {
 	/* Provide scrollbars if needed, position below header, and derive height from top/bottom*/
 	overflow: auto;
 	position: absolute;
 	width: 70%;
 	top: 0;
 	bottom: 0;
 	padding-top: 100px;
 	overflow-x: hidden;


 }
 
 
 .right {
 	overflow: auto; 
 	position: absolute; 
 	width: 30%; 
 	float: left; 
 	padding: 10px; 
 	background-color: #d1d2d2; 
 	margin-left: 70%; 
 	top: 100px; 
 	height: 100%; 
 	border-left: 3px solid #d1d2d2
 }
 
 .notice_right{
	font: 1em 'Helvetica W01 Cn', Helvetica;
	color: #474747;
	padding-bottom:4px;
	padding-top:2px;
	
}
.valid_notice_right{
	height:20px;
	width:350px;
	margin:auto;
	margin-top:8px;
	margin-bottom:8px;
	font: 1em 'Helvetica W01 Cn', Helvetica;
	color: #474747;
	padding-bottom:4px;
	padding-top:2px;
}
.invalid_notice_right{
	width:auto;
	max-width: 300px;
	margin-top:8px;
	margin-bottom:8px;
	font: 1em 'Helvetica W01 Cn', Helvetica;
	text-align: center;
	color: #474747;
	padding-bottom:0px;
	padding-top:2px;
}
.notice_right, .invalid_notice_right p, .valid_notice_right p{
	text-align:center;
	margin-top:2px;
	font: 0.8em 'Helvetica W01 Cn', Helvetica;
	color: #474747;
	padding-bottom:1px;
	padding-top:1px;
}

.notice_right{
	background-color: transparent;
	margin-top:0px;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	font: 1.3em 'Helvetica W01 Cn', Helvetica;
	color: #006699;
	font-weight:bold;
	padding-bottom:0px;
	padding-top:0px;
}

.invalid_notice_right{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice_right{
	background-color: #CCFFCC;
	border:1px solid green;
}
 